backports.entry-points-selectable==1.1.1
black==21.12b0
certifi==2021.10.8
charset-normalizer==2.0.9
click==8.0.3
colorama==0.4.4
decorator==4.4.2
distlib==0.3.4
filelock==3.4.0
idna==3.3
imageio==2.13.3
imageio-ffmpeg==0.4.5
moviepy==1.0.3
mypy-extensions==0.4.3
numpy==1.21.4
pathspec==0.9.0
Pillow==8.4.0
platformdirs==2.4.0
proglog==0.1.9
pysndfx==0.3.6
requests==2.26.0
six==1.16.0
tomli==1.2.2
tqdm==4.62.3
typing_extensions==4.0.1
urllib3==1.26.7
virtualenv==20.10.0
